{%extends 'base.html'%}

{%block body_block%}
<h1>welcome</h1>

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form action="" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            {{form.as_p}}
            <input type="submit" value="add">
        </form>
    </div>
    <div class="col-4"></div>
</div>


<hr>
<!-- questions list -->

<div class="row gx-4 gx-lg-5 justify-content-center">
   {%for q in questions%}
   
   <div class="col-md-10 col-lg-8 col-xl-7">
    <!-- Post preview-->
    <div class="post-preview">
        <a href="post.html">
            <h2 class="post-title">{{q.title}}</h2>
            <h5 class="post-subtitle">{{q.description}}</h5>
        </a>
        <p class="post-meta">
            Posted by
            <a href="#!">{{q.user}}</a>
            on {{q.created_date}}
        </p>
    </div>
    <h5 class="post-title">Answers</h5>
    {%for ans in q.question_answers%}
    <div>
      Answer={{ans}}
      user={{ans.user}}
      date={{ans.created_date}}
      votecount={{ans.votecount}}
    </div>
    {%endfor%}

    <hr class="my-4" />
</div>
   {%endfor%}
</div>


<!-- end question list -->

{%endblock%}